.wrapper {
  display: flex;
  justify-content: center;

  &_full-screen-view {
    height: 100vh;
    width: auto;
    background-image: url("../../../public/img/wrapper/large_background.jpg");
    background-size: cover;
    background-position: center;
  }

  &_colored {
    background-color: $color-primary-background;
  }

  &_multiply-images {
    background-image: url("../../../public/img/Pen_holder.png"), url("../../../public/img/Earphones.png"), url("../../../public/img/Coffee_Cup.png");
    background-position: left 8% top 0, right 10% top -9px, right 4% bottom 0;
    background-repeat: no-repeat, no-repeat, no-repeat;
  }

  &_colored-secondary {
    background-color: $color-secondary-background;
  }

  
}