.footer {
  padding: 20px 0;
  background-color: $color-background-secondary;

  &__content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 317px;
  }

  &__copyrights {
    @include font-small;
    margin: 15px auto 0 auto;
    opacity: .5;
    color: $color-inverted;
  }
}