body{
  margin: 0;
  padding: 0;
  text-align: center;
  color: #3c3c3c;
  font-family: Lato;
  font-size: 1.5vh;
}
.wrapper{
}

header{
  height: 100vh;
  background-image: url('.././img/blocks/header/Header_bg.png');
  background-size: cover;
  background-position: center;
}

.header__container{
  max-width: 900px;
  height: 100%;
  margin: 0 auto;
}
.header__text{
  margin-top: 5vh;
  font-size: 15px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0.9px;
  max-height: 6.4h;
  max-width: 100%;
  margin-bottom: 0;
}

.header__header{
  font-size: 54px;
  font-weight: 700;
  margin-top: 9vh;
  letter-spacing: 8.62px;
}

.header__ellipse{
  margin-top: 26vh;
  height: 6.3vh;
  width: auto;
  margin-top: 26vh;
}

.header__mouse-icon{
  position: absolute;
  bottom: 0;
  margin-bottom: 10.6vh;
}

.header_color-white{
  color: #ffffff;
  text-transform: uppercase;
}

.about-us__container{
  max-width: 900px;
  margin: 15vh auto 15vh auto;
  border: 2px solid #3c3c3c;
}

.about-us__header{
margin: -20px auto 0 auto;
width: 450px;
font-size: 34px;
font-weight: 700;
text-transform: uppercase;
letter-spacing: 8.95px;
background-color: #ffffff;
}

.about-us__text{
  margin: 7vh auto 7vh auto;
  width: 600px;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
} 

.services{
  background-image: url(".././img/blocks/header/Services_layout.png");
  background-size: cover;
  background-position: center;
  height: 488px;
  padding: 12vh;
}

.services__container{
  max-width: 900px;
  border: 2px solid #ffffff;
}

.services__header{
  margin: -20px auto 0 auto;
  width: 192px;
  color: #ffffff;
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 8.95px;
}

.services__text{
  margin: 7vh auto 7vh auto;
  width: 600px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  line-height: 25.89px;
}
