body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

.menu {
  padding: 68px 68px 0px 68px;
  display: flex;
  text-transform: uppercase;
}

.menu__item {
  margin-left: 100px;
  color: #626262;
  line-height: 24px;
}

.menu__item_name {
  margin-left: 0;
  margin-right: auto;
  color: #000000;
  font-family: Inconsolata;
  font-size: 30px;
  line-height: 24px;
  letter-spacing: 6px;
}
