$wrapperPadding: 68px;

body {
  margin: 0;
  padding: 0;
}

@import "colors.scss";
@import "container/container.scss";
@import "navigation/navigation.scss";
@import "wrapper/wrapper.scss"; 
@import "sign-up/sign-up.scss";
@import "article/article.scss";
@import "load-more/load-more.scss";
@import "contacts/contacts.scss";