$wrapperPadding: 68px;

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

@import "global/_mixins.scss";
@import "global/_colors.scss";
@import "container/_container.scss";
@import "navigation/_navigation.scss";
@import "wrapper/_wrapper.scss";
@import "sign-up/_sign-up.scss";
@import "article/_article.scss";
@import "load-more/_load-more.scss";
@import "contacts/_contacts.scss";
@import "main-content/_main-content.scss";
