$color-background-secondary: $color-black;
$color-text-header: $color-white;
$color-text-title-primary: $color-mine-shaft;
$color-inverted: $color-white;
$color-secondary: $color-neon-carrot;
$color-text-primary: $color-olso-gray;
$color-background-primary: $color-wild-sand;
$color-background-offer: $color-mine-shaft-bright;
$color-text-name: $color-mine-shaft-bright;
$color-input-primary: $color-silver;
