$color-black: #000000;
$color-white: #ffffff;
$color-wild-sand: #f5f5f5;
$color-neon-carrot: #ff8b38;
$color-olso-gray: #86878b;
$color-mine-shaft: #212121;
$color-mine-shaft-bright: #333333;
$color-silver: #bdbdbd;