$color-primary-background: $color-pampas;
$color-portait-background: $color-trout;
$color-secondary-background: $color-rhino;
$color-primary-text: $color-mine-shaft;
$color-secondary-text: $color-bittersweet;
$color-border: $color-shark;
$color-browser-background: $color-alto;
$color-footer-title-text: $color-martinique;
$color-input-background: $color-fiord;
$color-secondary-input-background: $color-silver;
$color-primary-background-colored-line: $color-bittersweet;
$color-secondary-background-colored-line: $color-gallery;