$color-primary-background: $color-pampas;
$color-secondary-background: $color-trout;
$color-tretiary-background: $color-rhino;
$color-primary-text: $color-mine-shaft;
$color-secondary-text: $color-bittersweet;
$color-border: $color-shark;