.article {
  max-width: 420px;
  margin: 0 10px;
  color: $color-text-primary;
  font-size: 14px;
  font-family: "Playfair Display", serif;
  font-weight: 400;

  &_introduction {
    max-width: 100%;
    margin: 0;
  }

  &__image {
    height: auto;
    width: 100%;
    margin-bottom: 32px;
  }

  &__image_introduction {
    max-height: 509px;
    margin-bottom: 99px;
  }

  &__label {
    display: block;
    margin-bottom: 28px;
    color: $color-text-label-primary;
    font-family: Ubuntu;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
  }

  &__title {
    display: block;
    margin-bottom: 34px;
    font-size: 30px;
    color: $color-text-primary;
    text-decoration: none;
    &:hover{
      opacity: .5;
    }
  }

  &__text {
    height: 72px;
    line-height: 24px;
    margin-bottom: 52px;
    overflow: hidden;
  }

  &__text_introduction {
    height: auto;
  }

  &__description {
    max-width: 900px;
    margin: 0 75px;
    align-items: flex-start;
  }
}

@include for-tablet-landscape-down {
  .article {
    max-width: 100%;
    margin: 0;
    &__description {
      margin: 0;
    }
  }
};
