.menu {
  padding: $wrapperPadding $wrapperPadding 0px $wrapperPadding;
  display: flex;
  text-transform: uppercase;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;

  &__item {
    margin-left: 100px;
    line-height: 24px;
    text-decoration: none;
    color: $textColor;
  }

  &__item_name {
    margin-left: 0;
    margin-right: auto;
    color: $menuNameColor;
    font-family: Inconsolata;
    font-size: 30px;
    letter-spacing: 6px;
  }
}
