.registration {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;

  &__input {
    @include font-settings(Exo, 16px, 400, null, null, 0.81px);
    height: 49px;
    width: 260px;
    margin-right: 30px;
    padding: 0 10px;
    border-radius: 3px;
    border: 1px solid $color-white;
    box-sizing: border-box;
    background-color: $color-input-background;
    color: $color-white;
    &::placeholder {
      @include font-settings(Exo, 16px, 400, uppercase, null, 0.81px);
      opacity: 0.5;
      color: $color-white;
    }
  }

  &__label {
    @include font-settings(Exo, 16px, 400, null, null, 0.64px);
    position: relative;
    margin-bottom: 40px;
    color: $color-primary-background;
    text-align: center;
    &::before {
      content: url("../../../public/img/registration/arrow.png");
      position: absolute;
      left: 0;
      top: 35%;
      width: 56px;
      height: 41px;
    }
  }

  &__button-container {
  }
}
