.container {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  padding: $wrapper-padding;

  &_header {
    padding-bottom: 0;
  }

  &_articles {
    display: flex;
    justify-content: space-between;
    padding: $wrapper-padding $wrapper-padding + 65px;
  }

  &_load-more {
    display: flex;
    justify-content: center;
  }

  &_footer {
    padding: 0 $wrapper-padding;
  }
}

@include for-tablet-landscape-down {
  .container_articles {
    flex-direction: column;
    padding: $wrapper-padding;
  }
}
