.container {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  padding: $wrapperPadding;

  &_header {
    padding-bottom: 0;
  }

  &_articles {
    display: flex;
    justify-content: space-between;
    padding: $wrapperPadding $wrapperPadding + 65px;
  }

  &_load-more {
    display: flex;
    justify-content: center;
  }

  &_footer {
    padding: 0 $wrapperPadding;
  }
}
 
@media screen and (max-width: 1024px) {
  .container_articles {
    flex-direction: column;
    padding: $wrapperPadding;
  }
}